<!DOCTYPE html>
<html>
    <head>
        <title>Spinorama api</title>
    </head>

    <body>
        <h1>Spinorama api</h1>
        <h2>index.html</h2>
        <h4>{{name}}</h4>
        <p>Ceci est la home page de l'api de spinorama</p>

        

        <a href="/create"><button>create</button></a>
        <a href='/delete'><button>delete</button></a>
        <a href='/update'><button>update</button></a>
        <a href='/read'><button>read</button></a>
        
        <br>
        <a href='/index'><button>index</button></a>
    </body>
</html>
