<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spinorama api</title>
        <link rel="stylesheet" href="style.css"
    </head>

    <body>
        <h1>Spinorama api</h1>
        <h2>index.html</h2>
        <h4>{{name}}</h4>
        <p>Ceci est la home page de l'api de spinorama</p>
        <p>Loger vous pour pouvoir acceder aux fonction CRUD</p>
        <img src="./assets/imgDJ.jpg" alt="">

        <a href="/login"><button>login</button></a>
    </body>
</html>
