<!DOCTYPE html>
<html>
    <head>
        <title>Spinorama api</title>
    </head>

    <body>
        <h1>Spinorama api</h1>
        <h2>OAuth_prb</h2>
        <h4>You are not allow to access</h4>
        <p>Update the data base truthPeople.db and add your google id</p>

        <br>
        <a href='/'><button>index</button></a>
        <a href='/logout'><button>logout</button></a>

        <p>session info : 
            keys : {{keys}}
            <br>
            values google id : {{google_id}}
            <br>
            name : {{name}}
            <br>
            state : {{state}}
            <br>
            type : {{type}}
        </p>

    </body>
</html>
