<!DOCTYPE html>
<html>
    <head>
        <title>Spinorama api</title>
    </head>

    <body>
        <h1>Spinorama api</h1>
        <h2>protected area.html</h2>
        <h4>Hello {{name}}</h4>
        <p>main page / crud fonction</p>

        <a href="/create"><button>create</button></a>
        <a href='/delete'><button>delete</button></a>
        <a href='/update'><button>update</button></a>
        <a href='/read'><button>read</button></a>
        <a href='/'><button>index</button></a>
        
        <br><br>
        <a href='/logout'><button>logout</button></a>
    </body>
</html>
